body,
html {
    min-height: 100%;
}


body{
    background-image:url("../images/background.jpeg");
    background-size:cover;
    
}

.main-title {
    color: white;
    background-color: black;
    margin-left:300px;
    margin-right:350px;
}