body,
html {
    min-height: 100%;
}

/* .wrapper {
    background-color: blueviolet;
    width: 1000px;
    height: 1000px;
} */

h2 {
    background-color:rgb(22, 155, 56);
    color:white;
    margin-top:0;
}

.instruction-text {
    background-color:rgb(22, 155, 56);
    color:white;
    font-size:20px;
}

body{
    background-image:url("../images/background.jpeg");
    background-size:cover;
    
}

.header {
    color: white;
    background-color: black;
    margin-left:300px;
    margin-right:350px;
}


#instructions {
    height: 400px;
    width: 500px;
}

#goal-number {
    float:left;
    background-color: aquamarine;
    color:rgb(218, 24, 18);
    width: 200px;
    height: 200px;
    /* margin-right:3px; */

    
}

#wins-loses {
    float:left;
    
}

#goal-winslosses {
    /* clear: both; */
}
.record {
    float:left;
    width:100px;
    height:200px;
    color:rgb(241, 245, 22);
    background-color:red;
    margin-top:0;
    
}


button{
    display: inline;
    float: left;
}
/* #gem1 {
    float:left;
    
}

#gem2 {
    
    float:left;
}

#gem3 {
    float:left;
} */

/* .gem-container {
    float:left;
    height: 200px;
    width: 200px;
    
} */

.container{
    clear: both;
}

#total-score {
   
    background-color: rgb(243, 147, 21);
    color:white;
    height: 100px;
    width:92%;
    
}